main#awards {
    margin-left:10vw;
    margin-right: 10vw;
}

main#awards .column {
    margin-left: auto;
    margin-right: auto;
}

main#awards p {
    text-indent: 5vw;
    line-height: 1.5em;
}

main#awards article {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

main#awards img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    border-radius: 15px;
}

main#awards h3 {
    text-indent: 0vw;
    text-align: center;
    padding-top: 20px;
}


@media (min-width: 701px) {
    
    main#awards img{
        width: 40%;
        display:block;
    }

    main#awards h3 {
        font-size: 2.2vw;
    }
}

@media (max-width:700px) {
    main#awards h3 {
        font-size: 5vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    main#awards {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    main#awards img {
        display:block;
        width: 40%;
        width: 60vw;
        border-radius: 15px;
    }

}

article {
    display: inline-block;
    background-color: #7f7878;
    border-radius: 30px;
    margin-top: 15vh;
    font-family: "open_sans";
    text-align: center;
}
.hover-effect-btn {
    position: relative;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease;
  }
  .hover-effect-btn:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.9); 
  }
  .title {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 25%; 
    font-size: 1.900em; 
    text-align: center;
    text-transform: uppercase; 
    color: white; 
    z-index: 1;
    transition: top .5s ease;
  }
  .hover-effect-btn:hover .title {
    opacity: 1;
    top: 1
    0%; 
  }

  .button {
    position: absolute;
    width: 100%;
    left:0;
    top: 65%; 
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  .button a {
    padding: 15px 40px;
    text-align: center;
    background: #6D9886; 
    color: white; 
    border: 1px solid white;
    z-index: 1; 
    text-decoration: none;
  }
  .hover-effect-btn:hover .button {
    opacity: 1;
  }
  .grey-image {
    filter: grayscale(1);
    transition: 1s; 
}
.grey-image:hover {
    filter: grayscale(0); 
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
p{
    font-size: large;
}
span{
    color: #000000;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-family: "open_sans";
    font-size: xx-large;
    border: 2px transparent #212121;
    border-radius: 30px;
    background: linear-gradient(90deg, #212121 ,#565858 );
    padding: 1vh;
}

@media (max-width:700px){
    h1{
        font-size: x-large;
    }
}
@media (max-width:500px){
    h1{
        font-size: large;
    }
}
@media (max-width:340px){
    h1{
        font-size: small;
    }
}
@media (max-width: 950px) and (min-width: 0px) {
    nav .nav-bg{
        display: none;
    }
}